    .main {
    	background-color: #000;
		background-image: url("../../images/bg.jpg");
		background-size: cover;
		background-position: top center;
    }
        
    .footer {
		text-align: center;
		padding: 4em 0 4em 0;
    }

    .footer:before {
        content: '';
        border-top: solid 1px rgba(255, 255, 255, 0.25);
        width: 10em;
        display: block;
        margin: 0 auto 3em auto;
    }

    @media screen and (max-width: 1280px) {

        .footer {
            padding: 2em 0 2em 0;
        }

    }