.banner {
    padding-top: 4.5rem;
    padding-right: 5rem;
}

.main_contact {
    margin-top: 3.5rem;
    width: 10rem;
}

.main_menu {
    margin-top: 3.5rem;
}

.contact_icon_1:focus,
.contact_icon_2:focus,
.menu_icon:focus {
    outline: none;
}