.signup {
    background-color: #2c3338;
    opacity: 0.8;
    width: 25rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 0.25rem;
    margin: 0 auto;
}

.signup .submit Button:focus {
    outline: none !important;
}

.signup h3 {
    color: #fff;
    margin: 1rem;
}

.signup .username,
.signup .password,
.signup .password_2,
.signup Button {
    width: 20rem;
    height: 3rem;
    border-radius: 0.25rem;
    color: #fff !important;
}

.signup Input {
    color: #fff;
    padding-left: 0.5rem;
}

.signup .username {
    background-color: #3b4148;
    margin-bottom: 1.25rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
}

.signup .password {
    background-color: #3b4148;
    margin-bottom: 1.25rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
}

.signup .password_2 {
    background-color: #3b4148;
    margin-bottom: 0.25rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
}

.sign_up_icon {
    color: #606468;
    z-index: 999;
}